<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Commands</div>
      <div class="item item-body">
        <div>
          <button class="button button-positive button-full" ng-click="open()">Open</button>
          <button class="button button-balanced button-full" ng-click="close()">Close</button>
        </div>
        <div>
          Status<br>
           <span ng-bind="vm.garageStatus"></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
